* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 850px;
    padding: 0px 120px 80px 120px;
    gap: 80px;
    background-color: #F6F6FB;
}

.form-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 666px;
    padding: 80px 120px 80px 120px;
    gap: 40px;
    border-radius: 24px;
    background-color: white;
}

.form-input{
    width: 589px;
    height: 322px;
    gap: 20px;

}

.user-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 589px;
    height: 322px;
    gap: 20px;
}

.user-input button {
    margin-top: 50px;
}
 
.user-input input {
    width: 589px;
    min-height: 48px;
    border-radius: 12px;
    border: 1px solid #E0E0ED;
    padding: 12px 12px 12px 16px;
   
}

#message {
    display: flex;
    justify-content: flex-start;
    width: 589px;
    min-height: 88px;
    border-radius: 12px;
    border: 1px solid #E0E0ED;
    padding: 12px 3px 2px 16px;
    gap: 10px;
    text-align: left;
    vertical-align: top;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1A1A2C;
    padding: 16px 36px 16px 36px;
    width: 589px;
    height: 56px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 1199px;
    height: 24px;
    font-size: 16px;
    font-weight: 500px;
    color: black;
}

.footer-text {
    font-size: 16px;
    font-weight: 500px;
    color: #5F5F76;

}.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 313px;
    height: 24px;
    font-size: 16px;
    gap: 37px;
    font-weight: 500;
}   

