* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1440px;
  height: 128px;
  background: #F6F6FB;
  padding: 24px;
  /* border: 1px solid red; */
}

.navbar .container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1392px;
  height: 80px;
  border-radius: 99px;
  /* border: 1px solid red; */
  padding:12px 80px 12px 80px;
  background-color: #FFFFFF;
}

img {
    width: 90px;
    height: 40px;
}

.nav-links { 
  /* width: 420px;
  height: 50px; */
  font-size: 16px;
  display: flex;
  gap: 2rem; 
  list-style: none;
  font-weight: 500;
}
.nav-links li:first-child a {
  text-decoration: underline;
  color: #5E44FF; 
}


.nav-links li a {
  color: #333;
  text-decoration: none;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 484px;
    background-color: #F6F6FB;
    /* padding: 120px 120px 140px 120px; */
    /* border: 1px solid red; */
}
.container-hero{
    /* padding: 120px 120px 140px 120px; */
    /* border: 1px solid red; */
    width: 1200px;
    height: 316px;
    display: flex;
    gap:40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
 p{
    padding: 8px 20px 8px 20px;
    border-radius: 999px;
    background-color: #563AFF1A;
    font-size: 15px;
    font-weight: 500;
    color:#5E44FF ;
    width: 240px;
    height: 40px;
    font-family: Inter;
}
button {
    border-radius: 16px;
    width: 187px;
    height: 56px;
    gap: 6px;
    color: #fff;
    background-color: #1A1A2C;
    border: none;
    font-size: 1rem;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    font-family: inter;
}
.hero-title{
    text-align: center;
}
.hero-title h1{
    font-family: inter;
    font-size: 80px;
    
}
.highlight {
    color: #5E44FF;
  }

.hero-title h3{
    margin-top: 6px;
    text-align: center;
    font-size: 24px;
    font-family: inter;
    font-weight: 600;
}